body {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

button {
    width: 100px;
    flex-grow: 0;
    padding: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.first > button {
    margin-top: 10px;
    border: 1px solid #3882F6;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    margin: 100px;
    margin-top: 0;
    padding: 16px;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 100px;
    margin-top: 0;
    gap: 50px;
    flex-wrap: wrap;
}

.first {
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.card {
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color:rgb(104, 115, 126);
    color: white;
}

.middle {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    flex-grow: 2;
}

.c1 {
    flex-direction: column;
    gap: 100px;
}

.item > .subtext {
    color: grey;
}

.square {
    width: 175px;
    height: 175px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.items {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

.item {
    width: 175px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 50px;
}

.c2 {
    background-color: #E5E7EB;
    padding: 150px;
    justify-content: center;
}

.full_quote {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quote {
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
}

.cite {
    font-weight: bold;
    align-self: flex-end;
}

.c3 {
    flex-grow: 1;
    justify-content: center;
    padding: 100px;
}


.rect {
    background-color: #3882F6;
    width: 1100px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

.rect > button {
    border: 2px solid #F9FAF8;
}


.cta {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: #F9FAF8;
    font-weight: bold;
}

.cta > .subtext {
    font-weight: normal;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #F9FAF8;
}


